<h2>Carrito</h2> 
<script>
</script>
<section>
    <div class="container">
        {{#each products}}
            <div class="card">
                <div class="header">
                    {{!-- <span class="title">{{this.id}}</span>
                    <span class="price">${{this.price}}</span> --}}
                </div>
                <p class="desc">Vehicle ID: {{this.productId}}</p>
                <ul class="lists">
                    <li class="list">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                        </svg>
                        <span>items in cart: {{this.quantity}}</span>
                    </li>
                </ul>
                <div class="flex-col-xs">
                    {{!-- <div class="test">{{this._id}}</div> --}}

{{!--                     <button type="button" onclick='itemToCart("{{{this._id}}}")' class="action">Remove from Cart</button>
                    <button type="button" onclick='itemToCart("{{{this.productId}}}")' class="action">Add to Cart</button> --}}
                </div>
                
            </div>
        {{/each}}
    </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>
